body {
    font-size: 40px;
}
#navbar2{
    display: none;
}
.navlinks{
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    width: 75px;
    text-align: center;
}
.navlinks:hover{
    border-top: 4px solid #ff8c1a;
    border-bottom: 4px solid #ff8c1a;
    background-color: #efe8e8;
}

#intro {
    /* background-color: #eee; */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
}

.introImg {
    width: 80%;
    max-width: 300px;
    margin-top: 50px;
}

.maindiv{
    /* background-color: #e5f6f9; */
    margin: auto;
    height: 500px;
    width: 100%;
    max-width: 800px;
    /* display: flex; */
    align-items:center;
    justify-content: center;
    display: none;
}

#techStack {
    /* background-color: #eee; */
    text-align: center;
    margin: auto;
}

.techImg {
    width: 50%;
    max-width: 35px;
    grid-column: span 1;
    text-align: center;
    margin: auto;
}

#techStack2 {
    /* background-color: #eee; */
    text-align: center;
    margin: auto;
    display: none;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#codingProfiles {
    /* background-color: #eee; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.profileImg {
    width: 50%;
    max-width: 35px;
    grid-column: span 1;
    text-align: center;
    margin: auto;
}

.grid5col {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#codingProfiles2 {
    /* background-color: #eee; */
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.profileImg2 {
    width: 50%;
    max-width: 35px;
    text-align: center;
    margin: auto;
}

.grid5col2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#aboutSection {
    /* background-color: #eee; */
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
    width: 80%;
}

.aboutImg {
    width: 100%;
    max-width: 200px;
    margin-top: 30px;
    border-radius: 15px;
}

.aboutdiv{
    margin:auto;
    margin-top: 200px;
    height: 500px;   
    width: 100%;
    max-width: 800px;
    display: none;
    align-items: center;
    justify-content: center;
    /* background-color: #eeeeee; */
}

#projects {
    margin-top: 200px;
}
#projects2 {
    margin-top: 200px;
    display: none;
    margin-bottom: 200px;
}

.projectdiv {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    /* height: 300px; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eeeeee; */
}
.projectdiv2{
    margin:auto;
    margin-top: 30px;
    height: 300px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eeeeee; */
}

.imageLeft {
    /* float: left; */
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.imageRight {
    /* float: right; */
    /* width: 250px; */
    height: 250px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.imageLeft2{
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 15px;
    margin-right: 50px;
    border-radius: 20px;
}
.imageRight2{
    float: right;
    /* width: 250px; */
    height: 250px;
    margin-left: 15px;
    margin-right: 50px;
    border-radius: 20px;
}

.addLine {
    padding-bottom: 50px;
    border-bottom: 1px solid #000000;
}

#footer {
    margin-top: 100px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-left: 10px;
}



/* Media queries */

@media screen and (min-width: 700px) {
    .maindiv{
        display: flex;
    }
    #intro{
        display: none;
    }
    .aboutdiv{
        display: flex;
    }
    #aboutSection{
        display: none;
    }
    #projects{
        display: none;
    }
    #projects2{
        display: block;
    }
    #techStack{
        display: none;
    }
    #techStack2{
        display: block;
    }
    #codingProfiles{
        display: none;
    }
    #codingProfiles2{
        display: block;
    }
    #navbar1{
        display: none;
    }
    #navbar2{
        display: block;
    }
}