body{
    font-size: 40px;
}
#intro{
    /* background-color: #eee; */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
}
.introImg{
    width: 80%;
    max-width: 300px;
    margin-top: 50px;
}

#techStack{
    /* background-color: #eee; */
    text-align: center;
    margin: auto;
}

.techImg{
    width: 50%;
    max-width: 60px;
    grid-column: span 1;
    text-align: center;
    margin: auto;
}

.grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#codingProfiles{
    /* background-color: #eee; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.profileImg{
    width: 50%;
    max-width: 60px;
    grid-column: span 1;
    text-align: center;
    margin: auto;
}

.grid5col{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#about{
    /* background-color: #eee; */
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
    width: 80%;
}
.aboutImg{
    width: 100%;
    max-width: 200px;
    margin-top: 30px;
    border-radius: 15px;
}

#projects{
    margin-top: 200px;
}
.projectdiv{
    margin:auto;
    margin-top: 60px;
    margin-bottom: 100px;
    /* height: 300px; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eeeeee; */
}

.imageLeft{
    /* float: left; */
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.imageRight{
    /* float: right; */
    /* width: 250px; */
    height: 250px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.addLine{
    padding-bottom: 50px;
    border-bottom: 1px solid #000000;
}

#footer{
    margin-top: 100px;
    background-color: black;
    color:white;
    padding: 30px;
    padding-left: 10px;
}



/* Media queries */

@media screen and (max-width: 620px) {
    
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 1200px) {
    
}